@import '../../styles/variables';

.button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 8px;
    font-family: sans-serif;
    font-weight: normal;
    cursor: pointer;
    transition: all 0.2s ease;
    user-select: none;
}

.primary{
    background-color: $orange;
    color: $background;

    &:hover{
        background: $orange-hover;
    }
    &:active{
        background: $orange-active;
    }
    &:disabled{
        background: $orange-disabled;
        cursor: not-allowed;
        opacity: 0.6;
    }
}
.secondary{
    background-color: $gray;
    color: $background;

    &:hover{
        background: $gray-hover;
    }
    &:active{
        background: $gray-active;
    }
    &:disabled{
        background: $gray-disabled;
        cursor: not-allowed;
        opacity: 0.6;
    }
}
.outline{
    background-color: transparent;
    border: 2px solid $orange;
    color: $orange;

    &:hover{
        background: $orange-hover;
        color: $background;
    }
    &:active{
        background: $orange-active;
        color: $background;
    }
    &:disabled{
        border-color: $orange-disabled;
        color: $orange-disabled;
        cursor: not-allowed;
        opacity: 0.6;
    }
}
.ghost{
    background-color: transparent;
    color: $orange;

    &:hover{
        background: rgba(255, 165, 0, 0.1);
    }
    &:active{
        background: rgba(255, 165, 0, 0.2);
    }
    &:disabled{
        color: $orange-disabled;
        cursor: not-allowed;
        opacity: 0.6;
    }
}
.small{
    padding: 8px 16px;
    font-size: $font-sm;
}
.medium{
    padding: 12px 24px;
    font-size: $font-base;
}
.large{
    padding: 16px 32px;
    font-size: $font-lg;
}
.loading{
    position: relative;
    color: transparent;

    &::after{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 16px;
        height: 16px;
        margin: -8px 0 0 -8px;
        border: 2px solid rgba(255, 255, 255, 0.6);
        border-top-color: $background;
        border-radius: 50%;
        animation: spin 1s linear infinite;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.fullWidth{
    width: 100%;
}
.iconLeft{
    margin-right: 8px;
}
.iconRight{
    margin-left: 8px;
}
