@import "../../styles/variables";

.MainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 850px;
  width: 100%;
  border-radius: 20px;
  padding: $spacing-lg $spacing-lg 40px;
  background-color: $background;
  gap: 20px;
  min-height: fit-content;
}

.formContainer {
  max-width: 850px;
  width: 100%;
  background-color: $background;
  padding: $spacing-lg;
  border-radius: 20px;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttonGroup {
  display: flex;
  gap: 10px;
  width: 100%;
  margin-top: 10px;
}
