@import "../../styles/variables";

.inputWrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: $spacing-lg;
  gap: 10px;
}
.inputItem {
  display: flex;
  border-radius: 20px;
  gap: $spacing-xs;
  border: none;
  position: relative;
  align-items: center;
}
.inputField {
  width: 100%;
  height: 40px;
  border: 1px solid $gray;
  border-radius: 20px;
  padding-left: $spacing-md;
  padding-right: $spacing-md;

  &.withLeftIcon {
    padding-left: 60px;
  }

  &.withRightIcon {
    padding-right: 60px;
  }
}
.label {
  font-size: $font-base;
  font-weight: 500;
  height: 30px;
  color: $text-color;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.leftSide {
  position: absolute;
  left: 0;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightSide {
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

//  custom classes

.outlineInput {
  width: 100%;
  height: 40px;
  border: 1px solid $orange;
  border-radius: 20px;

  &:focus {
    outline: none;
    border: 2px solid $orange-hover;
    box-shadow: $shadow-orange;
  }
}

.fillInput {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  background-color: $text-light;
  border: none;
}
